@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    padding: 10px;
    height: 100vh;
    color: black !important;
    background-color: white !important;
}

.container{
    height: 99%;
    border-radius: 5px;
    background: #C1D3DF!important;
}

img{
    max-width: 100%;
    width: 150px;
}

a{
    text-decoration: none !important;
    color: black!important;
    font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
}

.browse-right{
    display: flex;
    font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
    gap: 50px;
    letter-spacing: 3px;
} 

.browse-result {
    display: flex;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin; 
  
    scrollbar-color: #C1D3DF white; 
  
    &::-webkit-scrollbar {
      width: 5px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: #C1D3DF; 
      border-radius: 5px; 
    }
  
    &::-webkit-scrollbar-track {
      background-color: #C1D3DF; 
    }
  }

input, select{
    background: #627179 !important;
    border: none;
    outline: none;
    color: white !important;
}

input::placeholder{
    color: white !important;
}

input[type="search"] {
    padding: 5px;
    margin-bottom: 5px;
}

input[type="search"]::-webkit-search-cancel-button {
    color: white !important; 
   
}

#search-button{
    background-color: white!important;
    border: none !important;
    color: black !important;
    outline: none !important;
    letter-spacing: 3px;
    transition: all 0.3s linear;
    margin-bottom: 5px;
}

#search-button:hover{
    color: black !important;
    transition: all 0.3s linear;
    background: #AEC3B0 !important;
}

h3{
    font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
}

p{
    font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
}

.dropdown button{
    background: rgba(193, 211, 223, 0.5)!important;
    outline: none;
    border: none;
}

.dropdown-menu{
    background: rgba(193, 211, 223, 0.5)!important;
    backdrop-filter: blur(5px);
    height: 140px;
}

.dropdown option{
    color: white !important;
    background: rgba(193, 211, 223, 0.5)!important;
}
.browse-filter {
    display: block;
}

.dropdown {
    display: none;
}

#field-dropdown,
#sort-dropdown,
#year-input-dropdown{
    outline: none !important;
    background: rgba(193, 211, 223, 0.5)!important;
    border: none !important;
}

.dropdown .form-select {
    background: rgba(193, 211, 223, 0.5)!important;
}

@media screen and (max-width: 767px) {
    .browse-filter {
        display: none;
    }

    .dropdown {
        display: block !important;
    }

    .search-results .row {
        flex-direction: row;
      }
      
      .search-results .col-md-2 {
        width: auto;
        margin-right: 10px;
      }
      
      .search-results .dropdown {
        margin-right: 10px;
      }
}

/* browse.css */
/* Add styles for the browse list items */
.browse-item {
    display: block;
    text-decoration: none;
    color: #000; /* Set the text color */
    margin-bottom: 8px; /* Add spacing between items */
    transition: all 0.3s linear;
}

/* Add hover effect */
.browse-item:hover {
    transition: all 0.3s linear;
    background-color: #AEC3B0!important; /* Change the background color on hover */
    border-radius: 5px; /* Add rounded corners on hover */
    padding: 5px; /* Add padding on hover to create a clickable area */
    cursor: pointer; /* Change the cursor on hover to indicate it's clickable */
}
