@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: white!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black !important
}

img{
    width: 100%;
    max-width: 200px;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #C1D3DF !important
}

.fp-container {
    padding: 20px;
    background: #C1D3DF!important;
    color: black !important;
    border: none;
    border-radius: 8px;
    width: 500px;
}

input{
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #627179;
}

input::placeholder{
    color: white;
}


.med input{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #23323B;
    border: 1px solid #627179;
}
button{
    width: 200px;
    outline: none;
}

#fp-search,
#fp-login{
    background: #598392 ;
    color: white;
    transition: all 0.3s linear;
    border: none !important;
}

#fp-login{
    background: #124559;
}

#fp-search:hover,
#fp-login:hover{
    transition: all 0.3s linear;
    background: #AEC3B0 !important;
    color: black !important;
}
.btn:focus,
.btn:active,
.btn:hover,
.btn:active:focus,
.btn:active:hover,
.btn:focus:not(:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}
