@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white !important;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black !important;
}

i{  
    color: black !important;
    position: absolute;
    font-size: 25px;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black !important;
    align-items: center;
    width: 1300px;
    height: 100%;
    background: #C1D3DF !important;
    border-radius: 8px;
    padding: 20px;
}

.publication-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: black !important;
    background-color: white !important;
    padding: 5px;
    border: none !important;
    transition: all 0.3s linear;
    outline: none !important;
}

button:hover{
    transition: all 0.3s linear;
    background: #AEC3B0 !important;
    color: black !important;
}

.apa-citation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    color: black !important;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px;
    text-align: justify;
    background: #C1D3DF !important;
    width: 500px;
    height: 200px;
    color: black;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 5px 0 black;
    backdrop-filter: blur(10px); 
    transition: opacity 0.3s ease-in-out;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.blur {
    filter: blur(5px); /* Adjust the blur intensity as needed */
  }
  
.blur-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: filter 0.3s ease;
}
