<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/browse.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>ResearchVault</title>
</head>
<body> 
    <div class="browse-container container">
        <div class="browse-navbar d-flex justify-content-between align-items-center">
            <img src="static/pics/logo.png" class="img-fluid">
    
            <div class="browse-right">
                <a href="/" id="home-browse"><i class='bx bx-home-alt-2'></i>Home</a>
                <a href="/research" id="edit-browse"><i class='bx bx-edit-alt'></i>Research</a>
                <a href="/browse" id="browse-browse"><i class='bx bx-search' ></i>Browse</a>
                <a href="/chatbot" id="chatbot-browse"><i class='bx bx-bot'></i></i>Chatbot</a>
            </div>
        </div>

            <div class="browse-content d-flex flex-column flex-grow-1">
                <div class="search-results d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="browse-filter">
                                    <select id="field" class="form-select mb-3" onchange="filterItems()">
                                        <option value="">Field</option>  <!-- Default option with an empty value -->
                                        {% for subject_area in subject_areas %}
                                            <option value="{{ subject_area }}" {% if subject_area == selected_field %}selected{% endif %}>{{ subject_area }}</option>
                                        {% endfor %}
                                    </select>                                    
                                    
                                    <select id="sort" class="form-select mb-3" onchange="filterItems()">
                                        <option value="latest" {% if selected_sort == 'latest' %}selected{% endif %}>Latest</option>
                                        <option value="oldest" {% if selected_sort == 'oldest' %}selected{% endif %}>Oldest</option>
                                        <option value="alphabetical" {% if selected_sort == 'alphabetical' %}selected{% endif %}>Alphabetical</option>
                                    </select>                                    
                                    
                                    <input type="number" id="year-input" min="2000" max="2023" step="1" list="year-list" placeholder="Year" class="form-control mb-3" value="{{ selected_year }}" onchange="filterItems()">
                                    <datalist id="year-list">
                                        {% for year in unique_years %}
                                            <option value="{{ year }}">
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='bx bx-filter'></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <li>
                                    <select id="field-dropdown" class="form-select mb-1" onchange="filterItems()">
                                        <option value="">Field</option>  <!-- Default option with an empty value -->
                                        {% for subject_area in subject_areas %}
                                            <option value="{{ subject_area }}" {% if subject_area == selected_field %}selected{% endif %}>{{ subject_area }}</option>
                                        {% endfor %}
                                    </select>   
                                  </li>
                                  <li>
                                    <select id="sort-dropdown" class="form-select mb-1" onchange="filterItems()">
                                        <option value="latest" {% if selected_sort == 'latest' %}selected{% endif %}>Latest</option>
                                        <option value="oldest" {% if selected_sort == 'oldest' %}selected{% endif %}>Oldest</option>
                                        <option value="alphabetical" {% if selected_sort == 'alphabetical' %}selected{% endif %}>Alphabetical</option>
                                    </select>                                    
                                    
                                    <input type="number" id="year-input-dropdown" min="2000" max="2023" step="1" list="year-list" placeholder="Year" class="form-control mb-1" value="{{ selected_year }}" onchange="filterItems()">
                                    <datalist id="year-list">
                                        {% for year in unique_years %}
                                            <option value="{{ year }}">
                                        {% endfor %}
                                    </datalist>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-md-10">
                                <div class="col-md-10">
                                    <div class="browse-result d-flex flex-column">
                                        <input type="search" id="search-input" placeholder="SEARCH" value="{{ search_query }}">
                                        <button type="submit" id="search-button">SEARCH</button>
                                        {% for item in items %}
                                        <a class="browse-item" href="{{ url_for('publication_detail', item_id=item.id) }}" data-subjectArea="{{ item.subjectArea }}">
                                            {{ item.title }} - {{ item.year }}
                                            <p>Authors: {{ item.authors }}</p>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            
                            <footer class="text-center">
                                <h3>ResearchVault</h3>
                                <p>©2023 by ResearchVault</p>
                            </footer>
                            </div>
                            </div>
                            
    
    <script src="static/js/browse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>