<!DOCTYPE html>
<html>

<head>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>ResearchVault</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatbot.css') }}">

</head>

<body>

  <header>
    <div class="chatbot-back">
      <a href="/"><i class='bx bx-chevron-left'></i></a>
    </div>

    <div class="chatbot-navbar">
      <a href="/" id="home-chatbot"><i class='bx bx-home-alt-2'></i>Home</a>
      <a href="/research" id="edit-chatbot"><i class='bx bx-edit-alt'></i>Research</a>
      <a href="/browse" id="browse-chatbot"><i class='bx bx-search' ></i>Browse</a>
      <a href="/chatbot" id="chatbot-chatbot"><i class='bx bx-bot'></i></i>Chatbot</a>
    </div>
  </header>

  <div class="container mt-5">
    <div class="chat-box mt-3">
      <!-- Chat messages will be added here dynamically -->
    </div>
    <div class="form-group mt-3">
      <textarea class="form-control" rows="3" placeholder="Type your message here" id="message-input"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="send-btn">Send</button>
  </div>

  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/languages/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>