<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researchvault</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/abstract.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <a href="/"><i class='bx bx-chevron-left'></i></a>
    <div class="container">
        <h1>{{ title }}</h1> 
        <div id="docxviewer"></div>
        <div class="buttons">
            <button id="generate">Generate IMRAD</button>
            <button id="submit">Submit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/IMRAD.js') }}"></script>
</body>
</html>
